<% affiliated_group_id = Core.user_group.id %>
<% user_child_group = build_select_users(System::UsersGroup.affiliated_users_to_select_option(affiliated_group_id)) %>

<table class="show">
  <tr>
    <th colspan="3" class="titleTop">配信先設定<%= required('　※') %></th>
  </tr>
  <tr>
    <td>
      <%= render partial: "shared/select_group", locals: {
        parent_group_selected: affiliated_group_id, child_groups: user_child_group,
        hidden_item_name: "item[readers_json]", values: @item.readers_json,
        ui_mode: ui_mode_users_default
      } %>
    </td>
  </tr>
</table>

<script type="text/javascript">
//<![CDATA[
  var my_submit = function() {
    $('itemForm').submit();
  }
//]]>
</script>
