<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<%= render :partial => 'layouts/admin/gw/header_tag' %>
</head>
<body id="page-gwcircular-<%= params[:action] -%>">
<div id="container">

<!--ここからメインコンテンツ-->
<div id="main">
<div id="wrapper">
<!--ここからコンテンツ-->
<div id="content">
<div id="contentContainer">
<div id="contentHeader">
</div>
<div id="contentBody">
<%= yield %>
</div>
<div id="contentFooter"></div>
</div>
</div>
<!--ここまでコンテンツ-->
</div>
<!--ここまでメインコンテンツ-->
</div>
</body>
</html>
