<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<%= render :partial => 'layouts/admin/gw/header_tag' %>
<link rel="stylesheet" type="text/css" href="/layout/schedule/style.css" />
<link rel="stylesheet" type="text/css" href="/_common/themes/gw/css/print_schedule.css" />
</head>
<body id="page-gw-schedules-<%= params[:action] -%>">
<div id="container">

<!--ここからメインコンテンツ-->
<div id="main">
<div id="wrapper">
<!--ここからコンテンツ-->
<div id="content">
<div id="contentContainer">
<div id="contentHeader">
  <div style="float:right;">
      <button onclick="window.print();" style="margin-right:10px;padding:3px;">印刷する</button>
      <button onClick="window.close();" style="margin-right:10px;padding:3px;">閉じる</button>
  </div>
  <div style="clear:both;"></div>
</div>
<div id="contentBody">
<%= yield %>
</div>
<div id="contentFooter"></div>
</div>
</div>
<!--ここまでコンテンツ-->
</div>
<!--ここまでメインコンテンツ-->
</div>
</body>
</html>
