<div class="tabBox">
<table class="tabtable">
  <tbody>
  <tr>
  <td class="spaceLeft"></td>
  <td class="tab current AdminSettingBodyWhite">グループ</td>
  <td class="spaceCenter"></td>
  <td class="tab"><%= link_to 'ユーザー', system_users_groups_path(@parent) %></td>
  <td class="spaceRight"></td>
  </tr>
  </tbody>
</table>
</div>
