<div class="piece AdminSetting AdminMessage">
  <div class="pieceHeader">
    <h2><%= Page.title %></h2>
  </div>

  <div class="pieceBody">
    <%= render partial: "form" %>
  </div>
</div>
