<h3 class="iconSideExpirydate">期限日順<span class="<%= 'current' if params[:category] == 'EXPIRY'%>"><%=link_to('期限日順', "#{gwcircular_menus_path}?category=EXPIRY&cond=#{params[:cond]}")%></span></h3>
<ul>
</ul>